@model List<ProjectViewModel>
@{int strNum = 1;}
<div class="text-center">
	@if(Model.Count == 0)
	{
		<h2>На данный момент никаких проектов для голосования нет.</h2>
	}
	else
	{
		<h2>Количество голосов: @ViewBag.CountVotes</h2>
		<form method="post">
			<table class="table">
				<tr>
					<th>Название</th>
					<th>Самый сложный</th>
					<th>Самый красивый</th>
					<th>Самый прикольный</th>
				</tr>
				@foreach(var project in Model)
				{
					<tr>
						<td><a asp-controller="Project" asp-action="Index" asp-route-id="@project.Id" class="btn btn-primary">@project.Name</a></td>
						<td><input type="checkbox" name="MostDificult" value="@project.Id" id="@strNum"></td>
						<td><input type="checkbox" name="MostBeautiful" value="@project.Id" id="@strNum"></td>
						<td><input type="checkbox" name="Coolest" value="@project.Id" id="@(strNum++)"></td>
					</tr>
				}
			</table>
			<button type="submit" class="btn btn-primary" id="confirmBtn" asp-controller="Vote" asp-action="ToConfirm">Подтвердить</button>
		</form>
	}
	
	
</div>
<script>
	let btn = document.getElementById('confirmBtn');
	btn.disabled = true;
	let cnt = 0;
	document.querySelectorAll('input[type="checkbox"]').forEach(function(checkbox) {
		checkbox.addEventListener('change', function() {
			let selectedNomination = this.dataset.nomination;
			let projectName = this.name;
			let currentId = this.id;
			cnt = 0;
			
			

			document.querySelectorAll('input[name="' + projectName + '"]').forEach(function(input) {	//каюсь, скрипт взят с gpt ибо с js не работал очень давно.
				if (input !== checkbox && input.dataset.nomination === selectedNomination) {			//еслиб начал проект делать раньше подумал бы над задачей сам, честно.
					input.checked = false;
				}
			});

			document.querySelectorAll('input[id="'+ currentId + '"]').forEach(function(input){			//а вот эту часть уже дописывал сам, ссылаясь на верхнюю.
				if(currentId == input.id && projectName != input.name){
					input.checked = false;
				}
			});


			document.querySelectorAll('input[type="checkbox"]').forEach(function(checkbox) {
				if(checkbox.checked) cnt++;
			});

			if(cnt == 3) btn.disabled = false;
			else btn.disabled = true;
		});
	});


</script>