@model List<VoteViewModel>
<div class="text-center">
    <h2>Голоса, сделанные @ViewBag.CurrentDate</h2>
</div>
<table class="table">
    <tr>
        <th>Пользователь</th>
        <th>Время</th>
        <th>Самый красивый</th>
        <th>Самый сложный</th>
        <th>Самый прикольный</th>
    </tr>
    @foreach(var vote in Model)
    {
        <tr>
            <td><a asp-controller="Main" asp-action="UserInfo" asp-route-id="@vote.User.Id">@vote.User.Name</a></td>
            <td>@vote.Time</td> 
            <td>@vote.MostBeautiful.Name</td>
            <td>@vote.MostDificult.Name</td>
            <td>@vote.Coolest.Name</td>
        </tr>
    }
</table>
